<footer>
	<div id="footer-first-block">
		<div id="footer-discover-the-hotel">
			<div id="footer-discover-the-hotel-title-container">
				<h2>Discover the hotel</h2>
			</div>
			<ul>
				<li><a href="/gallery">Gallery</a></li>
				<li><a href="/about_us">About Us</a></li>
				<li><a href="/informations">Informations</a></li>
				<li><a href="#">Prices & Offers</a></li>
			</ul>
		</div>
		<div id="footer-contact-info">
			<div id="footer-contact-info-title-container">
				<h2>Contact <span style="font-family: 'Quicksand', sans-serif;">&</span> Info</h2>
			</div>
			<div>
				<p>Phone: +86 (89) 1512-9434 / (89) 1513 - 9943</p>
				<p>Zhang Xian street No. 1983, Yubei, Chongqing.</p>
				<p>Email: mbah.contact@gmail.com</p>
			</div>
			<div id="footer-contact-info-social-icons-container">
				<img src="imgs/general/wechat.png">
				<img src="imgs/general/wpp.png">
			</div>
		</div>
		<div id="footer-newsletter-container">
			<div id="footer-newsletter-title-container">
				<h2>Newsletter</h2>
			</div>
			<div id="footer-newsletter-texts-container">
				<p>Subscribe to our newsletter:</p>
			</div>
			<div id="footer-newsletter-input-container">
				<img src="imgs/general/newsletter_ap.png">
				<input type="" name="" placeholder="Email Adress">
			</div>
		</div>
	</div>
	<div id="footer-line"></div>
	<div id="footer-second-block-container">
		<div id="footer-second-block-events-and-meetings-container">
			<div id="footer-meetings-container" class="footer-events-and-meetings-direct-container">
				<img src="imgs/general/meetings_2.png">
				<p>Schedule a meeting</p>
			</div>
			<div id="footer-events-container" class="footer-events-and-meetings-direct-container">
				<img src="imgs/general/events_3.png">
				<p>Schedule an event</p>
			</div>
		</div>
		<div id="footer-second-block-copyright-container">
			<p>© 2016 - 2018. Mizuki Blue Amber Hotel Institution, Registered. All Rights Reserved.</p>
		</div>
	</div>
</footer>