<div class="headers-container">
	<div class="sub-header-language-options">
		<div>
			<a id="sub-header-reservation" href="/informations">INFORMATIONS</a>
			<span> | </span>
			<a id="sub-header-home" href="/">HOME</a>
		</div>
		<div class="languages-container">
			<p id="chinese-option-language">中文</p>
			<p>ENGLISH</p>
		</div>
	</div>
	<ul class="options-list-container-mob">
		<div id="hotel-mark-and-close-button">
			<div class="options-list-mob-close-button-container">
				<button>X</button>
			</div>
			<div>
				<h2>Mizuki Blue Amber Hotel</h2>
			</div>
		</div>
		<div id="options-list-mob-title-container">
			<h3>Your Navigation Menu</h3>
		</div>
		<div id="options-list-li-itens-container">
			<li>
				<a href="/gallery">GALLERY</a>
			</li>
			<li>
				<a href="/about_us">ABOUT US</a>
			</li>
			<li>
				<a href="/informations">INFORMATIONS</a>
			</li>
			<li>
				<a href="#">POSTS & CONTENTS</a>
			</li>
		</div>
	</ul>
	<header id="header">
		<div class="logo-container">
			<img src="imgs/general/hotel_final_logo2.jpg">
		</div>
		<ul class="options-list-container">
			<li>
				<a href="/gallery">GALLERY</a>
			</li>
			<li>
				<a href="/about_us">ABOUT US</a>
			</li>
			<li>
				<a href="/informations">INFORMATIONS</a>
			</li>
			<li>
				<a href="#">POSTS & CONTENTS</a>
			</li>
		</ul>
		<button id="header-options-list-button-mob" role="navigation">
			<img src="imgs/general/options_list.png">
		</button>
		<div class="make-reservation-container">
			<button>RESERVE NOW</button>
		</div>
	</header>
</div>