<!DOCTYPE html>
<html>
	<head>
		<title>Mizuki Blue Amber Hotel</title>
		<link rel="stylesheet" type="text/css" href="css/about_us.css">
		<link rel="stylesheet" type="text/css" href="css/header.css">
		<link rel="stylesheet" type="text/css" href="css/footer.css">
		<link rel="stylesheet" type="text/css" href="css/reservation_modal.css">
		<link rel="stylesheet" type="text/css" href="css/reservation_modal_medias.css">
		<link rel="stylesheet" type="text/css" href="css/calendar.css">
		<link rel="shortcut icon" type="image/png" href="imgs/general/red_flower.png"/>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/css?family=Cormorant+Upright" rel="stylesheet">
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>
	<body>
		<div id="overlay"></div>
		<%include partials/header.ejs%>
		<div class="main-content-container">
			<div id="gallery-presentation-and-title-container">
				<div id="gallery-titles-container">
					<h1>Come know us</h1>
					<p>Here you can know a little bit more of our different services and we hope you enjoy it.</p>
				</div>
			</div>
			<div id="title-container">
				<h1>Why would you choose our hotel</h1>
			</div>
			<div id="reasons-content-container">
				<div id="reasons-content-container-aux">
					<div class="contents-grouper-2">
						<a class="content-container-itself">
							<div class="content-image-container-itself">
								<img src="imgs/about_us/events.png">
							</div>
							<div class="content-title-container-itself">
								<h2>Events</h2>
							</div>
							<div class="content-title-p-container-itself">
								<p>You can count on us to arrange your important event to be an unforgettable one.</p>
							</div>
						</a>
						<a class="content-container-itself">
							<div class="content-image-container-itself">
								<img src="imgs/about_us/key.png">
							</div>
							<div class="content-title-container-itself">
								<h2>Room service</h2>
							</div>
							<div class="content-title-p-container-itself">
								<p>Enjoy a differentiated and absolutely welcoming service from us to make you comfortable.</p>
							</div>
						</a>
					</div>
					<div class="contents-grouper-2">
						<a class="content-container-itself">
							<div class="content-image-container-itself">
								<img src="imgs/about_us/hotel_final.png">
							</div>
							<div class="content-title-container-itself">
								<h2>Structure</h2>
							</div>
							<div class="content-title-p-container-itself">
								<p>Discover the details of our different spaces that you can enjoy and spend some time with.</p>
							</div>
						</a>
						<a class="content-container-itself">
							<div class="content-image-container-itself">
								<img src="imgs/about_us/guest.png">
							</div>
							<div class="content-title-container-itself">
								<h2>Guest</h2>
							</div>
							<div class="content-title-p-container-itself">
								<p>Don't worry about having a welcoming check-in and a quick efficient check-out</p>
							</div>
						</a>
					</div>
				</div>
				<div id="contents-first-border"></div>
			</div>
			<div id="contents-presentation-container">
				<div id="events" class="content-presentation-itself-container">
					<div class="content-presentation-image-container">
						<img src="imgs/about_us/hotel_29.jpg">
					</div>
					<div class="content-presentation-texts-container">
						<h2>Events</h2>
						<h3>We are here for your event</h3>
						<div></div>
						<p>Ever since the foundation of our hotel we have been arranging events such as weddings, meetings, presentations and others. You can also specify us the event you would like to arrange.</p>
					</div>
				</div>
				<div id="room-service" class="content-presentation-itself-container">
					<div class="content-presentation-texts-container normal-display">
						<h2>Room Service</h2>
						<h3>Know more about our rooms</h3>
						<div></div>
						<p>We always try to please and provide the best comfort possible. Always feel free to suggest us your ideais to make us improve. We have specific information about our types of room in the information's page.</p>
					</div>
					<div class="content-presentation-image-container">
						<img src="imgs/about_us/hotel_30.jpg">
					</div>
					<div class="content-presentation-texts-container-mob">
						<h2>Room Service</h2>
						<h3>Know more about our rooms</h3>
						<div></div>
						<p>We always try to please and provide the best comfort possible. Always feel free to suggest us your ideais to make us improve. We have specific information about our types of room in the information's page.</p>
					</div>
				</div>
				<div id="structure" class="content-presentation-itself-container">
					<div class="content-presentation-image-container">
						<img src="imgs/about_us/hotel_31.jpg">
					</div>
					<div class="content-presentation-texts-container">
						<h2>Structure</h2>
						<h3>Different spaces for you to please</h3>
						<div></div>
						<p>Our spaces try to cover the most important needs and wishes one can have. We provide you a gym, restaurant, top area, hall with waiters and more. You can find more in the information's page</p>
					</div>
				</div>
				<div id="guest" class="content-presentation-itself-container">
					<div class="content-presentation-texts-container normal-display">
						<h2>Guest</h2>
						<h3>Don't worry about efficiency</h3>
						<div></div>
						<p>We try to make all the "bureaucracies" last very little, so you don't have to lose your time with boring processes. Our check-in and check-out usually takes around 10 minutes and we have people to attend you in English in case you don't speak Chinese.</p>
					</div>
					<div class="content-presentation-image-container">
						<img src="imgs/about_us/hotel_32.jpg">
					</div>
					<div class="content-presentation-texts-container-mob">
						<h2>Guest</h2>
						<h3>Don't worry about efficiency</h3>
						<div></div>
						<p>We try to make all the "bureaucracies" last very little, so you don't have to lose your time with boring processes. Our check-in and check-out usually takes around 10 minutes and we have people to attend you in English in case you don't speak Chinese.</p>
					</div>
				</div>
			</div>
			<%include partials/reservation_modal%>
			<%include partials/footer%>
		</div>
		<script type="text/javascript" src="js/reservation_modal.js"></script>
		<script type="text/javascript" src="js/about_us.js"></script>
		<script type="text/javascript" src="js/header.js"></script>
		<script type="text/javascript" src="js/calendar.js"></script>
	</body>
</html>
