<!DOCTYPE html>
<html>
	<head>
		<title>Mizuki Blue Amber Hotel</title>
		<link rel="stylesheet" type="text/css" href="css/gallery.css">
		<link rel="stylesheet" type="text/css" href="css/header.css">
		<link rel="stylesheet" type="text/css" href="css/footer.css">
		<link rel="stylesheet" type="text/css" href="css/reservation_modal.css">
		<link rel="stylesheet" type="text/css" href="css/reservation_modal_medias.css">
		<link rel="stylesheet" type="text/css" href="css/calendar.css">
		<link rel="shortcut icon" type="image/png" href="imgs/general/red_flower.png"/>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/css?family=Cormorant+Upright" rel="stylesheet">
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>
	<body>
		<div id="overlay"></div>
		<%include partials/header.ejs%>
		<div class="main-content-container">
			<!-- <div id="gallery-presentation-and-title-container">
				<div id="gallery-titles-container">
					<h1>Our gallery page</h1>
					<p>Here you can find lots of pictures of our different spaces and we hope you enjoy it.</p>
				</div>
			</div> -->
			<div id="gallery-pictures-container">
				<div class="pictures-block-container">
					<div class="picture-container-itself">
						<img class="hotel-pic-1" src="imgs/gallery/hotel_1.jpg">
					</div>
					<div class="picture-container-itself">
						<img class="hotel-pic-2" src="imgs/gallery/hotel_2.jpg">
					</div>
					<div class="picture-container-itself">
						<img class="hotel-pic-3" src="imgs/gallery/hotel_3.jpg">
					</div>
					<div class="picture-container-itself">
						<img class="hotel-pic-4" src="imgs/gallery/hotel_4.jpg">
					</div>
					<div class="picture-container-itself">
						<img class="hotel-pic-5" src="imgs/gallery/hotel_5.jpg">
					</div>
					<div class="picture-container-itself">
						<img class="hotel-pic-6" src="imgs/gallery/hotel_6.jpg">
					</div>
					<div class="picture-container-itself">
						<img class="hotel-pic-7" src="imgs/gallery/hotel_7.jpg">
					</div>
					<div class="picture-container-itself">
						<img class="hotel-pic-8" src="imgs/gallery/hotel_8.jpg">
					</div>
					<div class="picture-container-itself">
						<img class="hotel-pic-9" src="imgs/gallery/hotel_9.jpg">
					</div>
					<div class="picture-container-itself">
						<img class="hotel-pic-10" src="imgs/gallery/hotel_10.jpg">
					</div>
					<div class="picture-container-itself">
						<img class="hotel-pic-11" src="imgs/gallery/hotel_11.jpg">
					</div>
					<div class="picture-container-itself">
						<img class="hotel-pic-12" src="imgs/gallery/hotel_12.jpg">
					</div>
					<div class="picture-container-itself">
						<img class="hotel-pic-13" src="imgs/gallery/hotel_13.jpg">
					</div>
					<div class="picture-container-itself">
						<img class="hotel-pic-14" src="imgs/gallery/hotel_14.jpg">
					</div>
					<div class="picture-container-itself">
						<img class="hotel-pic-15" src="imgs/gallery/hotel_15.jpg">
					</div>
					<div class="picture-container-itself">
						<img class="hotel-pic-16" src="imgs/gallery/hotel_16.jpg">
					</div>
					<div class="picture-container-itself">
						<img class="hotel-pic-17" src="imgs/gallery/hotel_17.jpg">
					</div>
					<div class="picture-container-itself">
						<img class="hotel-pic-18" src="imgs/gallery/hotel_18.jpg">
					</div>
					<div class="picture-container-itself">
						<img class="hotel-pic-19" src="imgs/gallery/hotel_19.jpg">
					</div>
					<div class="picture-container-itself">
						<img class="hotel-pic-20" src="imgs/gallery/hotel_20.jpg">
					</div>
					<div class="picture-container-itself">
						<img class="hotel-pic-21" src="imgs/gallery/hotel_21.jpg">
					</div>
					<div class="picture-container-itself">
						<img class="hotel-pic-22" src="imgs/gallery/hotel_22.jpg">
					</div>
					<div class="picture-container-itself">
						<img class="hotel-pic-23" src="imgs/gallery/hotel_23.jpg">
					</div>
					<div class="picture-container-itself">
						<img class="hotel-pic-24" src="imgs/gallery/hotel_24.jpg">
					</div>
					<div class="picture-container-itself">
						<img class="hotel-pic-25" src="imgs/gallery/hotel_25.jpg">
					</div>
					<div class="picture-container-itself">
						<img class="hotel-pic-26" src="imgs/gallery/hotel_26.jpg">
					</div>
					<div class="picture-container-itself">
						<img class="hotel-pic-27" src="imgs/gallery/hotel_27.jpg">
					</div>
				</div>
			</div>
			<%include partials/reservation_modal%>
			<%include partials/footer%>
		</div>
		<script type="text/javascript" src="js/reservation_modal.js"></script>
		<script type="text/javascript" src="js/gallery.js"></script>
		<script type="text/javascript" src="js/header.js"></script>
		<script type="text/javascript" src="js/calendar.js"></script>
	</body>
</html>
