<!DOCTYPE html>
<html>
	<head>
		<title>Mizuki Blue Amber Hotel</title>
		<link rel="stylesheet" type="text/css" href="css/home.css">
		<link rel="stylesheet" type="text/css" href="css/header.css">
		<link rel="stylesheet" type="text/css" href="css/footer.css">
		<link rel="stylesheet" type="text/css" href="css/reservation_modal.css">
		<link rel="stylesheet" type="text/css" href="css/reservation_modal_medias.css">
		<link rel="stylesheet" type="text/css" href="css/calendar.css">
		<link rel="shortcut icon" type="image/png" href="imgs/general/red_flower.png"/>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/css?family=Cormorant+Upright" rel="stylesheet">
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>
	<body>
		<%include partials/header.ejs%>
		<div class="main-content-container">
			<div class="hotel-main-picture-container">
				<div id="hotel-main-picture-titles-container">
					<p id="mizuki-blue-amber-hotel-title">Mizuki Blue Amber Hotel</p>
					<div id="hotel-main-picture-titles-line">
						<div></div>
					</div>
					<p id="coming-to-chongqing">Coming to chongqing?</p>
				</div>
				<div id="video-gradient"></div>
				<video autoplay muted loop id="video_default">
					<source src="imgs/general/cq_final_2.mp4" type="video/mp4">
				</video>
				<video autoplay muted loop id="video_lower_height">
					<source src="imgs/general/cq_final_low_width.mp4" type="video/mp4">
				</video>
				<div id="video-banner-container">
					<div id="video-banner-itself">
						<img src="imgs/general/hotel_logo_final.png">
						<p>Be always ready for the chinese festivals</p>
						<img src="imgs/general/hotel_logo_final.png">
					</div>
				</div>
			</div>
			<div class="content-presentation-title-container">
				<h2 id="content-presentation-title">Then we want to help you having a wonderful experience</h2>
			</div>
			<div class="first-content-block-container">
				<div class="first-content-images-container">
					<div class="first-content-image-container">
						<div class="first-content-image-container-sub-aux">
							<img src="imgs/home/first_content_first.jpg">
						</div>
						<p>One of our hotel rooms</p>
					</div>
					<div class="first-content-image-description-container">
						<p id="first-content-image-description-title">COMFORT IS ONE OF LIFE'S DESERVED PLEASURES.</p>
						<div id="border-bottom-first-content-title"></div>
						<p id="first-content-image-description">We are ready and anxious to make your staying in Chongqing an incredible experience. We have different types of room and we believe we have the right one for you in all means.</p>
					</div>
				</div>
				<div id="last-first-content-block" class="first-content-images-container">
					<div class="first-content-image-comments-container">
						<p id="first-content-image-details-title">Want to know more details?</p>
						<p id="first-content-image-details-itself_first">You can check more details of our spaces in the informations section. </p>
						<div id="first-content-image-details-button-container">
							<a href="/informations">INFORMATIONS</a>
						</div>
					</div>
				</div>
			</div>
			<div class="second-content-block-container">
				<div id="explore-content-spots-container-aux">
					<div>
						<div class="explore-chongqing-title-container">
							<h3>EXPLORE CHONGQING</h3>
						</div>
						<div id="explore-content-spots-container">
							<div class="explore-chongqing-content-spot-container-aux">
								<div class="explore-chongqing-content-spot">
									<a href="#">
										<img src="imgs/home/jiefangbei.jpg">
									</a>
									<div class="chongqing-content-spot-description-links">
										<p>
											<a href="#">JIEFANGBEI AREA</a>
										</p>
										<p>
											<a class="chongqing-content-spot-see-more" href="#">See more</a>
										</p>
									</div>
								</div>
								<div class="explore-chongqing-content-spot">
									<a href="#">
										<img src="imgs/home/wansheng_heishan.jpg">
									</a>
									<div class="chongqing-content-spot-description-links">
										<p>
											<a href="#">WANSHENG HEISHAN PARK</a>
										</p>
										<p>
											<a class="chongqing-content-spot-see-more" href="#">See more</a>
										</p>
									</div>
								</div>
							</div>
							<div class="explore-chongqing-content-spot-container-aux">
								<div class="explore-chongqing-content-spot">
									<a href="#">
										<img src="imgs/home/three_georges_museum.jpg">
									</a>
									<div class="chongqing-content-spot-description-links">
										<p>
											<a href="#">THREE GEORGES MUSEUM</a>
										</p>
										<p>
											<a class="chongqing-content-spot-see-more" href="#">See more</a>
										</p>
									</div>
								</div>
								<div class="explore-chongqing-content-spot">
									<a href="#">
										<img src="imgs/home/forest_park.jpg">
									</a>
									<div class="chongqing-content-spot-description-links">
										<p>
											<a href="#">LOCAL FOREST PARK</a>
										</p>
										<p>
											<a class="chongqing-content-spot-see-more" href="#">See more</a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- CHECK OUT OUR LOCATION -->
			<div class="third-content-block-container">
				<p id="location-content-title">CHECK OUT OUR LOCATION</p>
				<div class="location-content-container-aux">
					<div id="location-content-container">
						<div id="map"></div>
						<div class="park-content-container">
							<div class="park-description-container">
								<p>We are very close to one incredible hotspot of Chongqing:</p>
								<h3>THE FAIRY MOUNTAIN NATIONAL FOREST PARK</h3>
								<p>An amazing and beautiful park with lots of attractions and incredible views for you to check.</p>
								<div id="check-more-park-container">
									<a href="#">CHECK MORE</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<%include partials/reservation_modal%>
			<%include partials/footer%>
		</div>
		<script type="text/javascript" src="js/reservation_modal.js"></script>
		<script type="text/javascript" src="js/home.js"></script>
		<script type="text/javascript" src="js/header.js"></script>
		<script type="text/javascript" src="js/calendar.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFPnv1mLX4AvSLOkRszi88Cq0d9H0kttA&callback&callback=initMap"
    async defer></script>
	</body>
</html>
