<!DOCTYPE html>
<html>
	<head>
		<title>Mizuki Blue Amber Hotel</title>
		<link rel="stylesheet" type="text/css" href="css/informations.css">
		<link rel="stylesheet" type="text/css" href="css/header.css">
		<link rel="stylesheet" type="text/css" href="css/footer.css">
		<link rel="stylesheet" type="text/css" href="css/reservation_modal.css">
		<link rel="stylesheet" type="text/css" href="css/reservation_modal_medias.css">
		<link rel="stylesheet" type="text/css" href="css/calendar.css">
		<link rel="shortcut icon" type="image/png" href="imgs/general/red_flower.png"/>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/css?family=Cormorant+Upright" rel="stylesheet">
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>
	<body>
		<%include partials/header.ejs%>
		<div class="main-content-container">
			<div id="informations-titles-container">
				<h1>Our hotel specific details</h1>
				<p>Here you can find specific and direct informations about all our hotel characteristics. In case you still have some doubts you can send us an email.</p>
			</div>
			<div id="informations-content-container">
				<div id="information-content-direct-container">
					<div class="information-content-div flip-card">
						<div class="flip-card-inner">
							<div class="flip-card-front">
								<div class="information-content-image-container">
									<img src="/imgs/informations/bed_thumb.png">
								</div>
								<div class="information-content-title-container">
									<h2>Rooms</h2>
								</div>
								<div class="information-content-text-container">
									<p>Click here to understand and know more about the room furniture, size, types of room, room service and more.</p>
								</div>
							</div>
							<div id="flip-card-back-room" class="flip-card-back">
								<div class="flip-card-back-title-container">
									<h2>Click to see all details about our different rooms</h2>
								</div>
							</div>
						</div>
					</div>
					<div class="information-content-div flip-card">
						<div class="flip-card-inner">
							<div class="flip-card-front">
								<div class="information-content-image-container">
									<img src="/imgs/informations/check_in.png">
								</div>
								<div class="information-content-title-container">
									<h2>Check-in & Check-out</h2>
								</div>
								<div class="information-content-text-container">
									<p>Click here to understand and know more about the room furniture, size, types of room, room service and more.</p>
								</div>
							</div>
							<div id="flip-card-back-checkin" class="flip-card-back">
								<div class="flip-card-back-title-container">
									<h2>Click to see all details about check - in & check - out processes</h2>
								</div>
							</div>
						</div>
					</div>
					<div class="information-content-div flip-card">
						<div class="flip-card-inner">
							<div class="flip-card-front">
								<div class="information-content-image-container">
									<img src="/imgs/informations/calendar.png">
								</div>
								<div class="information-content-title-container">
									<h2>Events</h2>
								</div>
								<div class="information-content-text-container">
									<p>Click here to understand and know more about the room furniture, size, types of room, room service and more.</p>
								</div>
							</div>
							<div id="flip-card-back-events" class="flip-card-back">
								<div class="flip-card-back-title-container">
									<h2>Click to see all details about scheduling events</h2>
								</div>
							</div>
						</div>
					</div>
					<div class="information-content-div flip-card">
						<div class="flip-card-inner">
							<div class="flip-card-front">
								<div class="information-content-image-container">
									<img src="/imgs/informations/yuan.png">
								</div>
								<div class="information-content-title-container">
									<h2>Prices & Costs</h2>
								</div>
								<div class="information-content-text-container">
									<p>Click here to understand and know more about the room furniture, size, types of room, room service and more.</p>
								</div>
							</div>
							<div id="flip-card-back-prices" class="flip-card-back">
								<div class="flip-card-back-title-container">
									<h2>Click to see all details about our prices & costs</h2>
								</div>
							</div>
						</div>
					</div>
					<div class="information-content-div flip-card">
						<div class="flip-card-inner">
							<div class="flip-card-front">
								<div class="information-content-image-container">
									<img src="/imgs/informations/building.png">
								</div>
								<div class="information-content-title-container">
									<h2>Structure</h2>
								</div>
								<div class="information-content-text-container">
									<p>Click here to understand and know more about the room furniture, size, types of room, room service and more.</p>
								</div>
							</div>
							<div id="flip-card-back-structure" class="flip-card-back">
								<div class="flip-card-back-title-container">
									<h2>Click to see all details about our structure & places</h2>
								</div>
							</div>
						</div>
					</div>
					<div class="information-content-div flip-card">
						<div class="flip-card-inner">
							<div class="flip-card-front">
								<div class="information-content-image-container">
									<img src="/imgs/informations/globe.png">
								</div>
								<div class="information-content-title-container">
									<h2>Localization</h2>
								</div>
								<div class="information-content-text-container">
									<p>Click here to understand and know more about the room furniture, size, types of room, room service and more.</p>
								</div>
							</div>
							<div id="flip-card-back-localization" class="flip-card-back">
								<div class="flip-card-back-title-container">
									<h2>Click to see all details about our localization</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<%include partials/footer%>
			<%include partials/reservation_modal%>
		</div>
		<script type="text/javascript" src="js/reservation_modal.js"></script>
		<script type="text/javascript" src="js/informations.js"></script>
		<script type="text/javascript" src="js/calendar.js"></script>
		<script type="text/javascript" src="js/header.js"></script>
	</body>
</html>
