<!DOCTYPE html>
<html>
	<head>
		<title>Mizuki Blue Amber Hotel</title>
		<link rel="stylesheet" type="text/css" href="css/informations.css">
		<link rel="stylesheet" type="text/css" href="css/header.css">
		<link rel="stylesheet" type="text/css" href="css/footer.css">
		<link rel="stylesheet" type="text/css" href="css/reservation_modal.css">
		<link rel="stylesheet" type="text/css" href="css/reservation_modal_medias.css">
		<link rel="stylesheet" type="text/css" href="css/calendar.css">
		<link rel="shortcut icon" type="image/png" href="imgs/general/red_flower.png"/>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/css?family=Cormorant+Upright" rel="stylesheet">
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>
	<body>
		<%include partials/header.ejs%>
		<div class="main-content-container">
			<div id="informations-titles-container">
				<h1>Our hotel specific details</h1>
				<p>Here you can find specific and direct informations about all our hotel characteristics. In case you still have some doubts you can send us an email.</p>
			</div>
			<div id="informations-content-container">
				<div id="information-content-direct-container">
					<div class="information-content-div flip-card" content_index = "1">
						<div class="flip-card-inner">
							<div class="flip-card-front">
								<div class="information-content-image-container">
									<img src="/imgs/informations/bed_thumb.png">
								</div>
								<div class="information-content-title-container">
									<h2>Rooms</h2>
								</div>
								<div class="information-content-text-container">
									<p>Click here to understand and know more about the room furniture, size, types of room, room service and more.</p>
								</div>
							</div>
							<div id="flip-card-back-room" class="flip-card-back">
								<div class="flip-card-back-title-container">
									<h2>Click to see all details about our different rooms</h2>
								</div>
							</div>
						</div>
					</div>
					<div class="information-content-div flip-card" content_index = "2">
						<div class="flip-card-inner">
							<div class="flip-card-front">
								<div class="information-content-image-container">
									<img src="/imgs/informations/check_in.png">
								</div>
								<div class="information-content-title-container">
									<h2>Check-in & Check-out</h2>
								</div>
								<div class="information-content-text-container">
									<p>Click here to understand and know more about the room furniture, size, types of room, room service and more.</p>
								</div>
							</div>
							<div id="flip-card-back-checkin" class="flip-card-back">
								<div class="flip-card-back-title-container">
									<h2>Click to see all details about check - in & check - out processes</h2>
								</div>
							</div>
						</div>
					</div>
					<div class="information-content-div flip-card" content_index = "3">
						<div class="flip-card-inner">
							<div class="flip-card-front">
								<div class="information-content-image-container">
									<img src="/imgs/informations/calendar.png">
								</div>
								<div class="information-content-title-container">
									<h2>Events</h2>
								</div>
								<div class="information-content-text-container">
									<p>Click here to understand and know more about the room furniture, size, types of room, room service and more.</p>
								</div>
							</div>
							<div id="flip-card-back-events" class="flip-card-back">
								<div class="flip-card-back-title-container">
									<h2>Click to see all details about scheduling events</h2>
								</div>
							</div>
						</div>
					</div>
					<div class="information-content-div flip-card" content_index = "4">
						<div class="flip-card-inner">
							<div class="flip-card-front">
								<div class="information-content-image-container">
									<img src="/imgs/informations/yuan.png">
								</div>
								<div class="information-content-title-container">
									<h2>Prices & Costs</h2>
								</div>
								<div class="information-content-text-container">
									<p>Click here to understand and know more about the room furniture, size, types of room, room service and more.</p>
								</div>
							</div>
							<div id="flip-card-back-prices" class="flip-card-back">
								<div class="flip-card-back-title-container">
									<h2>Click to see all details about our prices & costs</h2>
								</div>
							</div>
						</div>
					</div>
					<div class="information-content-div flip-card" content_index = "5">
						<div class="flip-card-inner">
							<div class="flip-card-front">
								<div class="information-content-image-container">
									<img src="/imgs/informations/building.png">
								</div>
								<div class="information-content-title-container">
									<h2>Structure</h2>
								</div>
								<div class="information-content-text-container">
									<p>Click here to understand and know more about the room furniture, size, types of room, room service and more.</p>
								</div>
							</div>
							<div id="flip-card-back-structure" class="flip-card-back">
								<div class="flip-card-back-title-container">
									<h2>Click to see all details about our structure & places</h2>
								</div>
							</div>
						</div>
					</div>
					<div class="information-content-div flip-card" content_index = "6">
						<div class="flip-card-inner">
							<div class="flip-card-front">
								<div class="information-content-image-container">
									<img src="/imgs/informations/globe.png">
								</div>
								<div class="information-content-title-container">
									<h2>Localization</h2>
								</div>
								<div class="information-content-text-container">
									<p>Click here to understand and know more about the room furniture, size, types of room, room service and more.</p>
								</div>
							</div>
							<div id="flip-card-back-localization" class="flip-card-back">
								<div class="flip-card-back-title-container">
									<h2>Click to see all details about our localization</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="content-selected-details-container">
					<h1>Informations about rooms</h1>
					<div style="display: flex; justify-content: center; width: 100%;">
						<div id="content-selected-details-border"></div>
					</div>
					<div id="content-selected-details-texts-container">
						<p>We have four different types of rooms:</p>
						<p>The "Common" room, which is the cheapest, but still quite comfortable. The prices can vary from 95¥ to 117¥.</p>
						<p>The "Standard" room, which is the medium price and a very good option if you're looking for a very good room without spending too much. Prices go from 194¥ to 245¥.</p>
						<p>The "Prime" room, which is a very comfortable room with a little bit more expensive price, but of course, worth of it. Prices from 349¥ to 425¥.</p>
						<p>The "Exclusive" room. This room is best for you if you are looking for something really differentiated and as the name suggests, exclusive. Prices vary from 598¥ to 720¥.</p>
					</div>
				</div>
			</div>
			<div id="content-selected-details-container-mob">
				<h1>Informations about rooms</h1>
				<div style="display: flex; justify-content: center; width: 100%;">
					<div id="content-selected-details-border-mob"></div>
				</div>
				<div id="content-selected-details-texts-container-mob">
					<p>We have four different types of rooms:</p>
					<p>The "Common" room, which is the cheapest, but still quite comfortable. The prices can vary from 95¥ to 117¥.</p>
					<p>The "Standard" room, which is the medium price and a very good option if you're looking for a very good room without spending too much. Prices go from 194¥ to 245¥.</p>
					<p>The "Prime" room, which is a very comfortable room with a little bit more expensive price, but of course, worth of it. Prices from 349¥ to 425¥.</p>
					<p>The "Exclusive" room. This room is best for you if you are looking for something really differentiated and as the name suggests, exclusive. Prices vary from 598¥ to 720¥.</p>
				</div>
			</div>
			<%include partials/footer%>
			<%include partials/reservation_modal%>
		</div>
		<script type="text/javascript" src="js/reservation_modal.js"></script>
		<script type="text/javascript" src="js/informations.js"></script>
		<script type="text/javascript" src="js/calendar.js"></script>
		<script type="text/javascript" src="js/header.js"></script>
	</body>
</html>
