<!DOCTYPE html>
<html>
	<head>
		<title>Mizuki Blue Amber Hotel</title>
		<link rel="stylesheet" type="text/css" href="css/posts_and_contents.css">
		<link rel="stylesheet" type="text/css" href="css/footer.css">
		<link rel="shortcut icon" type="image/png" href="imgs/general/red_flower.png"/>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/css?family=Cormorant+Upright" rel="stylesheet">
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>
	<body>
		<div class="main-content-container">
			<div id="jiefangbei-container">
				<div id="jiefangbei-top-content-container">
					<div id="jiefangbei-first-top-content">
						<div id="absolute-bottom-modal-container">
							<div id="absolute-bottom-modal-introduction-container">
								<p>feel free to ask whatever you may want</p>
							</div>
							<div id="absolute-bottom-modal-title-container">
								<h2>Want to ask us an information?</h2>
							</div>
							<div id="absolute-bottom-modal-button-container">
								<button>Request us</button>
							</div>
						</div>
						<div id="jiefangbei-first-content-titles-container-aux">
							<div id="jiefangbei-first-content-titles-container">
								<p>水木蓝琥珀酒店</p>
								<h2>Get to know more about the jiefangbei area and what's in there</h2>
							</div>
						</div>
					</div>
				</div>
				<div id="jiefangbei-main-content-container">
					<div class="jiefangbei-first-content-container">
						<div class="jiefangbei-first-content-img-container">
							<img id="jiefangbei2" src="/imgs/posts_and_contents/jiefangbei/jiefangbei_2.jpg">
						</div>
						<div class="jiefangbei-first-content-texts-container">
							<p class="jiefangbei-photo-description">Picture of the jiefangbei area on the left</p>
							<h2>Don't hesitate to know this wonderful and beatiful technological area</h2>
							<p>shénme yuányīn wǒ jìngrán yòu huì yùjiàn nǐ</p>
							<p>wǒ zhēn de zhēn de bù yuànyì jiù zhèyàng xiànrù ài de xiànjǐng</p>
							<p>zhǐ pà wǒ zìjǐ huì ài shàng nǐ bù gǎn ràng zìjǐ kào dé tài jìn</p>
							<p>pà wǒ méishénme nénggòu gěi nǐ ài nǐ yě xūyào hěn dà de yǒngqì</p>
							<p>zhǐ pà wǒ zìjǐ huì ài shàng nǐ yěxǔ yǒu tiān huì qíngbùzìjīn</p>
							<p>xiǎngniàn zhǐ ràng zìjǐ kǔle zìjǐ ài shàng nǐ shì wǒ qíng fēiděi yǐ</p>
							<p>ài shàng nǐ shì wǒ qíng fēiděi yǐ</p>
						</div>
					</div>
					<div class="jiefangbei-first-content-container">
						<div id="jiefangbei-first-content-texts-container-2" class="jiefangbei-first-content-texts-container">
							<div id="jiefangbei-first-content-texts-container-2-aux">
								<p class="jiefangbei-photo-description">Picture of the jiefangbei area on the right</p>
								<h2>Don't hesitate to know this wonderful and beatiful technological area</h2>
								<p>shénme yuányīn wǒ jìngrán yòu huì yùjiàn nǐ</p>
								<p>wǒ zhēn de zhēn de bù yuànyì jiù zhèyàng xiànrù ài de xiànjǐng</p>
								<p>zhǐ pà wǒ zìjǐ huì ài shàng nǐ bù gǎn ràng zìjǐ kào dé tài jìn</p>
								<p>pà wǒ méishénme nénggòu gěi nǐ ài nǐ yě xūyào hěn dà de yǒngqì</p>
								<p>zhǐ pà wǒ zìjǐ huì ài shàng nǐ yěxǔ yǒu tiān huì qíngbùzìjīn</p>
								<p>xiǎngniàn zhǐ ràng zìjǐ kǔle zìjǐ ài shàng nǐ shì wǒ qíng fēiděi yǐ</p>
								<p>ài shàng nǐ shì wǒ qíng fēiděi yǐ</p>
							</div>
						</div>
						<div id="jiefangbei-first-content-img-container-2" class="jiefangbei-first-content-img-container">
							<img id="jiefangbei3" src="/imgs/posts_and_contents/jiefangbei/jiefangbei_3.jpg">
						</div>
						<div id="jiefangbei-first-content-texts-container-2-mob" class="jiefangbei-first-content-texts-container">
							<div id="jiefangbei-first-content-texts-container-2-aux">
								<p class="jiefangbei-photo-description">Picture of the jiefangbei area on the right</p>
								<h2>Don't hesitate to know this wonderful and beatiful techonological area</h2>
								<p>shénme yuányīn wǒ jìngrán yòu huì yùjiàn nǐ</p>
								<p>wǒ zhēn de zhēn de bù yuànyì jiù zhèyàng xiànrù ài de xiànjǐng</p>
								<p>zhǐ pà wǒ zìjǐ huì ài shàng nǐ bù gǎn ràng zìjǐ kào dé tài jìn</p>
								<p>pà wǒ méishénme nénggòu gěi nǐ ài nǐ yě xūyào hěn dà de yǒngqì</p>
								<p>zhǐ pà wǒ zìjǐ huì ài shàng nǐ yěxǔ yǒu tiān huì qíngbùzìjīn</p>
								<p>xiǎngniàn zhǐ ràng zìjǐ kǔle zìjǐ ài shàng nǐ shì wǒ qíng fēiděi yǐ</p>
								<p>ài shàng nǐ shì wǒ qíng fēiděi yǐ</p>
							</div>
						</div>
					</div>
				</div>
				<div id="jiefangbei-second-content-container">
					<div id="jiefangbei-second-content-modals-container">
						<div id="jiefangbei-second-content-modals-container-aux">
							<div id="jiefangbei-second-content-modal-1" class="jiefangbei-second-content-modal">
								<div id="jiefangbei-second-content-modal-1-p">
									<p>feel free to ask whatever you may want</p>
								</div>
								<div id="jiefangbei-second-content-modal-1-title">
									<h2>Want to ask us an information?</h2>
								</div>
								<div id="jiefangbei-second-content-modal-1-button">
									<button>Request us</button>
								</div>
							</div>
							<div id="jiefangbei-second-content-modal-2" class="jiefangbei-second-content-modal">
								<p>Differentiated shopping</p>
								<p>Touristics monuments</p>
								<p>Incredible buildings</p>
								<p>Different services</p>
							</div>
						</div>
					</div>
					<div id="jiefangbei-second-content-descriptions-container">
						<div id="jiefangbei-second-content-description-topics-container">
							<div class="jiefangbei-second-content-topic">
								<div class="jiefangbei-second-content-topic-icon"></div>
								<h3></h3>
								<p></p>
							</div>
							<div class="jiefangbei-second-content-topic">
								<div class="jiefangbei-second-content-topic-icon"></div>
								<h3></h3>
								<p></p>
							</div>
							<div class="jiefangbei-second-content-topic">
								<div class="jiefangbei-second-content-topic-icon"></div>
								<h3></h3>
								<p></p>
							</div>
							<div class="jiefangbei-second-content-topic">
								<div class="jiefangbei-second-content-topic-icon"></div>
								<h3></h3>
								<p></p>
							</div>
						</div>
						<div id="jiefangbei-second-content-description-texts-container">
							<h2></h2>
							<div id="jiefangbei-second-content-description-linebar"></div>
							<p></p>
						</div>
					</div>
				</div>
			</div>
			<%include partials/footer%>
		</div>
		<script type="text/javascript" src="js/posts_and_contents.js"></script>
	</body>
</html>
