/*FOOTER*/
footer{
	margin-top: 3.5em;
	padding-top: 3.5em;
	padding-bottom: 2em;
	background-color: #e9f1fa;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition-duration: 0.7s;
	will-change: transform;
}
#footer-first-block{
	width: 85%;
	display: flex;
	justify-content: space-between;
	padding-bottom: 2em;
}
#footer-discover-the-hotel-title-container h2, #footer-contact-info-title-container h2, #footer-newsletter-title-container h2{
	font-family: 'Questrial', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	padding-bottom: 1.5em;
	letter-spacing: 0.1em;
	font-size: 1.1em;
}
#footer-first-block p{
	font-size: 0.95em;
}
#footer-contact-info{
	margin-left: 35px;
}
#footer-contact-info-title-container h2, #footer-newsletter-title-container h2{
	text-align: center;
}
#footer-first-block ul li{
	padding-top: 12px;
	padding-bottom: 12px; 
}
#footer-first-block ul li a{
	font-family: 'Questrial', sans-serif;
	text-decoration: none;
	color: rgb(100, 100, 100);
	font-size: 1em;
	letter-spacing: 0.025em;
}
#footer-first-block ul li a:hover{
	text-decoration: underline;
}
#footer-contact-info p{
	font-family: 'Questrial', sans-serif;
	color: rgb(100, 100, 100);
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
	letter-spacing: 0.025em;
}
#footer-contact-info-social-icons-container{
	display: flex;
	justify-content: center;
	padding-top: 18px;
}
#footer-newsletter-texts-container p{
	font-family: 'Quicksand', sans-serif;
	color: rgb(100, 100, 100);
	text-align: center;
	letter-spacing: 0.025em;
}
#footer-contact-info-social-icons-container img{
	width: 40px;
	height: 40px;
	padding-left: 10px;
	padding-right: 10px;
}
#footer-newsletter-input-container{
	padding-top: 2em;
}
#footer-newsletter-input-container input{
	padding: 13px 20px 13px 20px;
	border-radius: 30px;
	border: 1px solid rgb(200, 200, 200);
	color: rgb(130, 130,130);
	font-family: 'Cormorant Upright', serif;
	font-style: italic;
	font-size: 0.95em;
	letter-spacing: 0.025em;
	width: 250px;
}
#footer-newsletter-input-container img{
	transition-duration: 0.4s;
	width: 26px;
	height: 26px;
	cursor: pointer;
	position: absolute;
	margin-left: 250px;
	padding: 9px 0px 9px 0px;
}
#newsletter_status_message_container{
	display: flex;
	justify-content: center;
	text-align: center;
	padding-top: 28px;
	/*width: 50%;*/
}
#newsletter_status_message_container p{
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 0.015em;
	font-size: 0.85em;
}
#footer-line{
	border-bottom: 1px solid rgb(210, 210, 210);
	width: 70%;
	padding-top: 1.5em;
}
/*SECOND BLOCK*/
#footer-second-block-container{
	padding-top: 2em;
}
#footer-second-block-events-and-meetings-container{
	padding-top: 2em;
	display: flex;
	justify-content: center;
	padding-right: 2em;
}
.footer-events-and-meetings-direct-container{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding-right: 50px;
	padding-left: 50px;
}
.footer-events-and-meetings-direct-container img{
	width: 85px;
	height: 85px;
	cursor: pointer;
}
.footer-events-and-meetings-direct-container p{
	padding-top: 1em;
	font-family: 'Questrial', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	letter-spacing: 0.25em;
}
#footer-second-block-copyright-container{
	padding-top: 3em;
	font-family: 'Questrial', sans-serif;
	color: rgb(110, 110, 110);
	padding-right: 20px;
	padding-left: 20px;
	text-align: center;
}
/*SECOND BLOCK*/
/*FOOTER*/

@media(max-width: 1300px){
	#footer-first-block{
		width: 95%;
	}
	#footer-first-block > div p{
		font-size: 0.9em;
	}
}

@media(max-width: 1220px){
	.footer-events-and-meetings-direct-container p{
		font-size: 0.9em;
	}
}

@media(max-width: 1000px){
	#footer-first-block{
		flex-wrap: wrap;
		justify-content: center;
	}
	#footer-first-block > div{
		padding-left: 20px;
		padding-right: 20px;
	}
	#footer-newsletter-container{
		padding-top: 2.5em;
	}
}

@media(max-width: 900px){
	#footer-contact-info{
		margin-left: 0px;
	}
}

@media(max-width: 750px){
	#footer-first-block > div{
		padding-bottom: 2.5em;
	}
	#footer-first-block ul li{
		text-align: center;
	}

	#footer-second-block-events-and-meetings-container{
		padding-right: 0px;
	}
	.footer-events-and-meetings-direct-container{
		padding-right: 15px;
		padding-left: 15px;
	}
}

@media(max-width: 550px){
	footer{
		margin-top: 2em;
	}
	#footer-newsletter-container{
		padding-top: 1.5em;
	}
	.footer-events-and-meetings-direct-container p{
		text-align: center;
		line-height: 1.5em;
	}
}

@media(max-width: 460px){
	.footer-events-and-meetings-direct-container img{
		width: 65px;
		height: 65px;
	}
	.footer-events-and-meetings-direct-container p{
		font-size: 0.85em;
	}
}