html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.texts-basics-style{

}
/*JIEFANGBEI*/
#jiefangbei-container{
	
}
#jiefangbei-top-content-container{
	height: 265px;
	display: flex;
	justify-content: center;
	background: linear-gradient( rgba(0, 0, 0, 0.77), rgba(0, 0, 0, 0.77)), url("/imgs/posts_and_contents/jiefangbei/jiefangbei_bg.jpg");
	margin-bottom: 15em;
}
#jiefangbei-first-top-content{
	display: flex;
	align-items: center;
}
#jiefangbei-first-content-titles-container-aux{
	display: flex;
	justify-content: center;
}
#jiefangbei-first-content-titles-container{
	margin-left: 23%;
	width: 60%;
}
#jiefangbei-first-content-titles-container p{
	color: #e9f1fa;
	font-family: 'Quicksand', sans-serif;
	font-size: 0.9em;
	letter-spacing: 0.24em;
	padding-bottom: 0.6em;
	text-align: right;
}
#jiefangbei-first-content-titles-container h2{
	font-size: 1.4em;
	font-family: 'Lora', serif;
	letter-spacing: 0.1em;
	color: white;
	text-transform: uppercase;
	line-height: 35px;
	text-align: right;
}


#absolute-bottom-modal-container{
	position: relative;
	background-color: white;
	box-shadow: 0 1px 30px 4px rgba(0,0,0,.12);
	width: 320px;
	height: 155px;
	left: 5%;
	top: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#absolute-bottom-modal-introduction-container p{
	font-family: 'Quicksand', serif;
	color: grey;
	font-size: 0.85em;
	text-align: center;
	padding-right: 8px;
	padding-left: 8px;
	letter-spacing: 0.03em;
	padding-bottom: 1em;
}
#absolute-bottom-modal-title-container h2, #jiefangbei-second-content-modal-1-title h2{
	font-family: 'Lora', serif;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.15em;
	padding-right: 18px;
	padding-left: 18px;
	letter-spacing: 0.08em;
	padding-bottom: 0.6em;
	line-height: 25px;
}
#absolute-bottom-modal-button-container button, #jiefangbei-second-content-modal-1-button button{
	font-family: 'Cormorant Upright', serif;
	font-size: 1.1em;
	padding: 10px;
	background-color: rgb(70,130,180);
	color: white;
	letter-spacing: 0.07em;
	border: none;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	transition-duration: 0.4s;
	border: 1px solid white;
}
#absolute-bottom-modal-button-container button:hover, #jiefangbei-second-content-modal-1-button button:hover{
	background-color: white;
	color: black;
	border: 1px solid black;
}
#jiefangbei-main-content-container{
	padding-bottom: 7.5em;
}
.jiefangbei-first-content-container{
	display: flex;
	justify-content: center;
	padding-bottom: 7em;
}
.jiefangbei-first-content-img-container{
	padding-right: 3em;
	width: 35%;
	display: flex;
	justify-content: flex-end;
}
#jiefangbei-first-content-img-container-2{
	width: 43%;
	justify-content: flex-start;
	padding-right: 0px;
	padding-left: 3.5em;
}
.jiefangbei-first-content-texts-container{
	padding-left: 3em;
	width: 35%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#jiefangbei-first-content-texts-container-2{
	width: 54%;
	display: flex;
	align-items: flex-end;
	padding-left: 0px;
	padding-right: 0em;
}
#jiefangbei-first-content-texts-container-2-mob{
	display: none;
}
#jiefangbei-first-content-texts-container-2-aux{
	width: 50%;
}
.jiefangbei-first-content-texts-container h2{
	padding-top: 0.4em;
	padding-bottom: 1em;
	color: black;
	line-height: 30px;
	font-size: 1.75em;
	font-family: 'Cormorant Upright', serif;
	text-transform: capitalize;
	letter-spacing: 0.1em;
	font-weight: normal;
	width: 80%;
}
.jiefangbei-photo-description{
	font-family: 'Quicksand', serif;
	letter-spacing: 0.018em;
	font-size: 0.9em;
	color: grey;
}
.jiefangbei-first-content-texts-container p{
	font-family: 'Questrial', serif;
	letter-spacing: 0.045em;
	color: rgb(100, 100, 100);
	font-size: 0.9em;
	line-height: 22px;
}
#jiefangbei2{
	height: 350px;
	-webkit-box-shadow: -62px 52px 1px 3px rgba(0,0,0,0.04);
	-moz-box-shadow: -62px 52px 1px 3px rgba(0,0,0,0.04);
	box-shadow: -62px 52px 1px 3px rgba(0,0,0,0.04);
}
#jiefangbei3{
	height: 470px;
	-webkit-box-shadow: 61px 60px 2px -5px rgba(0,0,0,0.04);
	-moz-box-shadow: 61px 60px 2px -5px rgba(0,0,0,0.04);
	box-shadow: 61px 60px 2px -5px rgba(0,0,0,0.04);
}

#jiefangbei-second-content-container{
	width: 100%;
	height: 75vh;
	background-color: rgb(70, 70, 70);
	box-shadow: 0px 0px 10px 0px black;
	margin-bottom: 10em;
}
#jiefangbei-second-content-modals-container{
	width: 100%;
	display: flex;
	justify-content: center;
	position: relative;
	top: -10%;
}
#jiefangbei-second-content-modals-container-aux{
	display: flex;
	justify-content: space-around;
}
#jiefangbei-second-content-modal-1{
	background-color: rgb(245,245,245);
	width: 20vw;
	height: 22vh;
	/*background-color: white;*/
	box-shadow: 0 1px 30px 4px rgba(0,0,0,.22);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
#jiefangbei-second-content-modal-2{
	width: 17vw;
	height: 28vh;
	background-color: rgb(110, 110, 110);
	margin-top: 30px;
	box-shadow: 0 1px 30px 4px rgba(0,0,0,.22);
}
#jiefangbei-second-content-modal-1-p, #jiefangbei-second-content-modal-1-title{
	/*padding-top: 20px;
	padding-bottom: 20px;*/
}
#jiefangbei-second-content-modal-1-p p{
	text-align: center;
	font-family: 'Quicksand', serif;
	font-size: 0.9em;
	letter-spacing: 0.03em;
	padding-top: 1em;
}
#jiefangbei-second-content-modal-1-title h2{
	text-align: center;
	font-size: 1.35em;
	line-height: 30px;
	padding-bottom: 0px;
}
#jiefangbei-second-content-modal-1-button{
	display: flex;
	justify-content: center;
	padding-bottom: 1em;
}
#jiefangbei-second-content-modal-1-button button{
	background-color: steelblue;
	border: 1px solid white;
	color: white;
}
#jiefangbei-second-content-modal-2{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#jiefangbei-second-content-modal-2 p{
	padding-left: 2em;
	padding-bottom: 1em;
	padding-top: 1em; 
	text-transform: capitalize;
	font-family: 'Questrial', serif;
	letter-spacing: 0.05em;
	color: white;
}
/*JIEFANGBEI*/

@media(max-width: 1550px){
	#jiefangbei-first-content-texts-container-2-aux{
		width: 65%;
	}
	#absolute-bottom-modal-container{
		left: 10%;
	}

	/*JIEFANGBEI /\*/
}
@media(max-width: 1315px){
	.jiefangbei-first-content-texts-container{
		width: 50%;
	}
	.jiefangbei-first-content-img-container{
		width: 50%;
	}

	#absolute-bottom-modal-introduction-container p{
		font-size: 0.8em;
	}
	#absolute-bottom-modal-title-container h2{
		font-size: 1.05em;
	}
	#absolute-bottom-modal-button-container button{
		font-size: 1em;
	}

	.jiefangbei-first-content-texts-container p{
		font-size: 0.85em;
	}
	.jiefangbei-first-content-texts-container h2{
		font-size: 1.6em;
	}
	#jiefangbei-first-content-texts-container-2-aux{
		width: 80%;
	}

	/*JIEFANGBEI /\*/
}

@media(max-width: 1100px){
	#absolute-bottom-modal-introduction-container{
		display: none;
	}
	#jiefangbei-first-content-texts-container-2-aux{
		width: 90%;
	}

	/*JIEFANGBEI /\*/
}

@media(max-width: 900px){
	#jiefangbei-top-content-container{
		margin-bottom: 9em;
	}
	.jiefangbei-first-content-container{
		flex-direction: column;
		align-items: center;
		padding-bottom: 3em;
	}
	.jiefangbei-first-content-img-container{
		padding: 0px;
		padding-bottom: 5.5em;
		width: 100%;
		justify-content: center;
	}
	.jiefangbei-first-content-texts-container{
		padding: 0px;
		width: 80%;
	}
	#jiefangbei-first-content-texts-container-2{
		display: none;
	}
	#jiefangbei-first-content-texts-container-2-mob{
		display: block;
	}
	#jiefangbei-first-content-texts-container-2-aux{
		width: 100%;
	}
	#jiefangbei-first-content-img-container-2{
		padding: 0px;
		width: 100%;
		padding-top: 3em;
		padding-bottom: 5em;
		justify-content: center;
	}
	.jiefangbei-first-content-texts-container p{
		text-align: center;
	}
	.jiefangbei-photo-description{
		display: none;
	}
	.jiefangbei-first-content-texts-container h2{
		text-align: center;
		width: 100%;
	}

	/*JIEFANGBEI /\*/
}


@media(max-width: 520px){
	#jiefangbei2, #jiefangbei3{
		box-shadow: none;
	}
	#jiefangbei3{
		height: 440px;
	}
	.jiefangbei-first-content-img-container{
		padding-bottom: 2em;
	}
	#jiefangbei-first-content-img-container-2{
		padding-bottom: 3em !important;
	}
	/*JIEFANGBEI /\*/
}

@media(max-width: 495px){
	#jiefangbei-top-content-container{
		margin-bottom: 5em;
	}
	#jiefangbei-first-content-titles-container{
		margin-left: 0px;
		width: 90%;
	}
	#jiefangbei-first-content-titles-container h2, #jiefangbei-first-content-titles-container p{
		text-align: center;
	}
	#absolute-bottom-modal-container{
		display: none;
	}
	#jiefangbei3{
		height: 430px;
	}
	/*JIEFANGBEI /\*/
}
