/*RESERVATION MODAL FIRST BLOCK*/
/*RESERVATION MODAL FIRST BLOCK FIRST PART*/
#reservation-modal-container{
	position: fixed;
	visibility: hidden;
	width: 70vw;
	height: 0vh;
	top: 50%;
	left: 50%;
	margin-left: -35vw;
	margin-top: -35vh;
	background-color: white;
	z-index: 500;
	transition-duration: 0.75s;
	box-shadow: 0 1px 30px 4px rgba(0,0,0,.12);
}
#reservation-modal-title-and-close-button-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#reservation-modal-title-and-close-button-container img{
	position: absolute;
	right: -15px;
	top: -17px;
	cursor: pointer;
	width: 30px;
	height: 30px;
}
#reservation-modal-content-container{
	display: flex;
	padding-left: 5em;
	padding-right: 5em;
	height: 70%;
}
#reservation-modal-first-content-block-container{
	width: 50%;
}
#reservation-modal-first-block-title-container{
	padding-top: 2em;
}
#reservation-modal-first-block-title-container h1{
	font-family: 'Cormorant Upright', serif;
	color: rgb(100, 100, 100);
	text-transform: uppercase;
	font-size: 1.2em;
	padding-bottom: 0.25em;
	font-weight: normal;
	letter-spacing: 0.1em;
}
#reservation-modal-first-block-title-container h2{
	text-transform: capitalize;
	font-size: 1.8em;
	padding-bottom: 0.5em;
	font-weight: normal;
	letter-spacing: 0.1em;
}
#reservation-modal-first-block-texts-container p{
	font-family: 'Cormorant Upright', serif;
	padding-top: 1em;
	padding-bottom: 1em;
	font-size: 1em;
	line-height: 20px;
	color: rgb(80, 80, 80);
	letter-spacing: 0.033em;
}
#reservation-modal-email, #reservation-modal-phone{
	padding-bottom: 0px !important;
}
#reservation-modal-email{
	padding-top: 0px !important;
}
/*RESERVATION MODAL FIRST BLOCK FIRST PART*/
/*RESERVATION MODAL FIRST BLOCK SECOND PART */
#reservation-modal-second-content-first-block-container{
	padding-top: 4em;
	width: 50%;
}
#reservation-modal-email-container{
	display: flex;
	justify-content: center;
}
#reservation-modal-email-container input{
	border: none;
	border-bottom: 1px solid rgb(210, 210, 210);
	font-family: 'Questrial', sans-serif;
	color: rgb(80, 80, 80);
	width: 70%;
	padding-bottom: 6px;
	letter-spacing: 0.02em;
	font-size: 0.95em;
	transition-duration: 0.5s;
}
#reservation-modal-email-container input:focus{
	border-bottom: 1px solid rgb(100, 100, 100);
	transition-duration: 0.4s;
}
#calendar-and-people-number-container{
	display: flex;
	justify-content: center;
	padding-top: 3em;
}
#calendar-and-people-number-container-aux{
	width: 70%;
	display: flex;
	justify-content: space-between;
}
#people-number-direct-container p, #check-in-calendar-container p, #check-out-calendar-container p{
	font-family: 'Questrial', sans-serif;
	padding-bottom: 14px;
	text-transform: uppercase;
	font-size: 0.9em;
	letter-spacing: 0.1em;
}
#people-number-direct-container option, #people-number-direct-container select, #check-in-calendar-container > div, #check-out-calendar-container > div{
	font-family: 'Cormorant Upright', serif;
	letter-spacing: 0.07em;
	padding: 10px;
	background-color: rgb(245, 245, 245);
	cursor: pointer;
}
#people-number-direct-container select{
	padding-top: 3px;
	padding-bottom: 3px;
	border: none;
	font-size: 1em;
}
#reservation-modal-send-button-container{
	padding-top: 7.5%;
	display: flex;
	justify-content: center;
}
#reservation-modal-send-button-container button{
	padding: 16px;
    border: none;
    background-color: rgb(25, 25, 25);
    font-family: 'Quicksand', sans-serif;
    font-size: 0.95em;
    cursor: pointer;
    transition-duration: 0.35s;
    color: white;
    letter-spacing: 0.15em;
    width: 70%;
    line-height: 25px;
    text-transform: uppercase;
}
#reservation-modal-send-button-container button:hover{
	background-color: white;
	color: black;
	border: 1px solid black;
}
/*RESERVATION MODAL FIRST BLOCK SEOCND PART*/
/*RESERVATION MODAL FIRST BLOCK*/


/*RESERVATION MODAL FOOTER*/
#reservation-modal-footer-container{
	height: 30%;
	background-color: rgba(0, 0, 0, 1);
}
#reservation-modal-stars-container{
	display: flex;
	padding-bottom: 0.2em;
	justify-content: center;
	padding-top: 2em;
}
#reservation-modal-stars-container img{
	width: 13px;
	height: 13px;
	padding-left: 4px;
	padding-right: 4px;
}
#reservation-model-footer-title-container p{
	padding-top: 0.6em;
	text-align: center;
	font-family: 'Cormorant Upright', serif;
	font-size: 1.3em;
	text-transform: capitalize;
	letter-spacing: 0.1em;
	line-height: 20px;
	color: white;
}
#reservation-modal-ul-container{
	display: flex;
	justify-content: center;
}
#reservation-modal-footer-container ul{
	display: flex;
	padding-top: 5%;
	justify-content: space-around;
	width: 80%;
}
#reservation-modal-footer-container ul li a{
	color: white;
	font-family: 'Questrial', sans-serif;
	text-decoration: none;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	font-size: 0.85em;
}
#reservation-modal-footer-container ul li a:hover{
	text-decoration: underline;
}
/*RESERVATION MODAL FOOTER*/


#overlay{
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 499;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}​
