#wansheng-top-divisor-background-container{
	background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url("/imgs/posts_and_contents/wansheng/adventurer_bg.jpeg");
	height: 410px;
}
#wansheng-top-divisor-background-texts-container{
	padding: 6em;
}
#wansheng-top-divisor-background-texts-container h2{
	padding-bottom: 1em;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.5em;
	letter-spacing: 0.2em;
	line-height: 25px;
	color: white;
	text-transform: uppercase;
	font-weight: normal;
	/*font-family: 'Cormorant Upright', serif;*/
}
#wansheng-top-divisor-background-texts-container p{
	color: white;
	font-family: 'Cormorant Upright', serif;
	font-size: 1.2em;
	letter-spacing: 0.1em;
	line-height: 22px;
}
#wansheng-presentation-first-title-container{
	padding-top: 5em;
}
#wansheng-presentation-first-title-container h2{
	font-family: 'Cormorant Upright', serif;
	font-size: 1.4em;
	letter-spacing: 0.15em;
	line-height: 22px;
	text-transform: uppercase;
	text-align: center;
	font-weight: normal;
}
#wansheng-presentation-images-container{
	padding-top: 4em;
}
#wansheng-presentation-main-image-container{
	display: flex;
	justify-content: center;
}
#wansheng-presentation-main-image-container img{
	width: 80vw;
	height: 80vh;
	box-shadow: 0 1px 30px 4px rgba(0,0,0,0.5);
}
#skyline-content-container, #lake-content-container{
	display: flex;
	justify-content: center;
	padding-top: 3.5em;
}
#lake-content-container{
	/*padding-bottom: 4em;*/
}
#skyline-content-aux-container, #lake-content-aux-container{
	width: 80vw;
	display: flex;
	justify-content: space-between;
}
#skyline-content-image-container{
	width: 50%;
}
#skyline-content-image-container img, #lake-content-image-container img{
	width: 100%;
	box-shadow: 0 1px 30px 4px rgba(0,0,0,0.25);
}
#skyline-content-description-container{
	width: 45%;
}
#skyline-content-description-container h3, #lake-content-description-container h3{
	font-family: 'Quicksand', sans-serif;
	font-size: 1.2em;
	letter-spacing: 0.15em;
	line-height: 26px;
	text-transform: uppercase;
	/*text-align: center;*/
	font-weight: normal;
}
#skyline-content-description-container p, #lake-content-description-container p{
	padding-top: 2em;
	font-family: 'Questrial', sans-serif;
	letter-spacing: 0.025em;
	line-height: 22px;
	font-size: 0.95em;
}

#lake-content-description-container{
	width: 25%;
}
#lake-content-image-container{
	width: 70%;
}



@media(max-width: 900px){
	#skyline-content-aux-container{
		flex-direction: column;
	}
	#skyline-content-image-container{
		width: 100%;
	}
	#skyline-content-description-container{
		width: 100%;
		padding-top: 2em;
	}
	#skyline-content-description-container h3, #lake-content-description-container h3{
		text-align: center;
	}
	#skyline-content-description-container p, #lake-content-description-container p{
		text-align: center;
	}
	#lake-content-aux-container{
		flex-direction: column;
	}
	#lake-content-image-container{
		width: 100%;
	}
	#lake-content-description-container{
		width: 100%;
		padding-top: 2em;
	}
}
@media(max-width: 750px){
	#wansheng-presentation-main-image-container img{
		height: 70vh;
	}
}
@media(max-width: 750px){
	#wansheng-presentation-main-image-container img{
		display: none;
	}
	#wansheng-presentation-first-title-container h2{
		padding-left: 1em;
		padding-right: 1em;
		line-height: 32px;
		font-size: 1.3em;
	}
	#skyline-content-container{
		padding-top: 0px;
	}
}