<div id="wansheng-container">
	<div id="wansheng-top-divisor-background-container">
		<div id="wansheng-top-divisor-background-texts-container">
			<h2>Chongqing is not only about great buildings</h2>
			<p>Have you ever heard about the Wansheng Park?</p>
		</div>
	</div>
	<div id="wansheng-presentation-first-title-container">
		<h2>Check some of this amazing park</h2>
	</div>
	<div id="wansheng-presentation-images-container">
		<div id="wansheng-presentation-main-image-container">
			<img src="imgs/posts_and_contents/wansheng/wansheng_4.jpg">
		</div>
		<div id="skyline-content-container">
			<div id="skyline-content-aux-container">
				<div id="skyline-content-image-container">
					<img src="imgs/posts_and_contents/wansheng/wansheng_3.png">
				</div>
				<div id="skyline-content-description-container">
					<h3>Ready for an unforgettable skywalk?</h3>
					<p>The Wansheng park is a huge beautiful nature gift and you can see all of it in the best way possible. A great skywalk along all the park exists for you to enjoy the best of it. If you think the Wansheng's park stops on the skywalk, don't worry, it has much more!</p>
					<p>The park contains skywalks all over the mountains that surrounds it, so you can taste amazing views and you can also visit special "isolated" places of it such as the beautiful lake below.</p>
				</div>
			</div>
		</div>
		<div id="lake-content-container">
			<div id="lake-content-aux-container">
				<div id="lake-content-image-container">
					<img src="imgs/posts_and_contents/wansheng/wansheng_5.jpg">
				</div>
				<div id="lake-content-description-container">
					<h3>Wansheng mountain edge skywalk</h3>
					<p>An part of a skywalk in the edge of the mountains that surround the beautiful and splendid park.</p>
				</div>
			</div>
		</div>
	</div>
</div>
