<div id="wansheng-container">
	<div id="wansheng-top-divisor-background-container">
		<div id="wansheng-top-divisor-background-texts-container">
			<h2>Chongqing is not only about great buildings</h2>
			<p>Have you ever heard about the Wansheng Park?</p>
		</div>
	</div>
</div>